<h2>Login de Usuario</h2>
<div id="login-section">
    <form id="login-form" action="/login" method="post">
      <label for="user">Ingrese su nombre</label>
      <input required type="text" name="user" id="user" />
      <button id="login">Enviar</button>
    </form>
</div>
